.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared styles */

.text-primary {
  color: #fd6e0a;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.section-title {
  font-size: 42px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}

.secondary-bg {
  background: rgb(255, 248, 243);
}

.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.dark-1 {
  color: #181818;
}

/* header style */

.header {
  background: rgb(255, 248, 243);
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  font-weight: bolder;
  font-size: 45px;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

nav ul {
  display: flex;
  align-items: center;
}

/* banner styles */

.banner-greetings {
  font-size: 45px;
  font-weight: semibold;
}

.banner-title {
  font-size: 85px;
  font-weight: bold;
}

.banner-description {
  font-size: 18px;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 38px 0 230px;
}

.banner-content {
  width: 585px;
  height: 356px;
}

/* about styles */
.about {
  border-radius: 10px;
  margin: 156px 0;
  padding: 131px 157px;
  text-align: center;
}

.about-items {
  display: flex;
  justify-content: space-around;
}

.item-title {
  font-size: 20px;
}
.item-description {
  font-size: 20px;
  font-weight: bold;
}

main {
  max-width: 1368px;
  margin: 0 auto;
}

/* Skills styles */

.skills-container {
  display: flex;
  gap: 24px;
}
.skills-description-padding {
  padding: 36px 139px 60px 138px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skills {
  margin-bottom: 156px;
}

/* resume section styles */

.resume-container {
  display: flex;
  gap: 30px;
}

.experience-description {
  font-size: 20px;
  color: #757575;
}
.experience-sub-title {
  font-size: 24px;
  font-weight: semibold;
  color: #757575;
}

.experience-title {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}
.resume-column-title {
  font-size: 36px;
  font-weight: bold;
  color: #474747;
}
.btn-primary-margin {
  margin-top: 60px;
}

.resume hr {
  margin: 36px 0;
}
/* footer styles */

footer {
  display: flex;
  padding: 156px 276px;
  margin-top: 136px;
  gap: 140px;
}

/* .footer-description {
  width: 675px;
} */

.footer-column {
  width: 50%;
}

.name-field {
  width: 554px;
  border-radius: 5px;
  border: none;
  margin-bottom: 29px;
  padding: 36px 22px;
  font-size: 20px;
}
.name-field::placeholder {
  color: #757575;
  font-size: 20px;
}
.email-field {
  width: 554px;
  border-radius: 5px;
  border: none;
  margin-bottom: 29px;
  padding: 36px 22px;
  font-size: 20px;
}
.email-field::placeholder {
  color: #757575;
  font-size: 20px;
}

.textarea-field {
  width: 554px;
  border-radius: 5px;
  border: none;
  margin-bottom: 29px;
  padding: 36px 22px;
  font-size: 20px;
}
.textarea-field::placeholder {
  color: #757575;
  font-size: 20px;
}
